addict
diffusers
gradio
huggingface_hub
matplotlib
numpy
onnxruntime
openai
opencv_python
Pillow
pycocotools
python-dotenv
PyYAML
langchain
requests
setuptools
supervision
termcolor
timm
transformers
yapf
